
@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Thin.woff2') format('woff2'), url('TTF/Romeosevka-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedThin.woff2') format('woff2'), url('TTF/Romeosevka-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-ThinItalic.woff2') format('woff2'), url('TTF/Romeosevka-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedThinItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-ExtraLight.woff2') format('woff2'), url('TTF/Romeosevka-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedExtraLight.woff2') format('woff2'), url('TTF/Romeosevka-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-ExtraLightItalic.woff2') format('woff2'), url('TTF/Romeosevka-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedExtraLightItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Light.woff2') format('woff2'), url('TTF/Romeosevka-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedLight.woff2') format('woff2'), url('TTF/Romeosevka-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-LightItalic.woff2') format('woff2'), url('TTF/Romeosevka-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedLightItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Regular.woff2') format('woff2'), url('TTF/Romeosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Condensed.woff2') format('woff2'), url('TTF/Romeosevka-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-Italic.woff2') format('woff2'), url('TTF/Romeosevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Medium.woff2') format('woff2'), url('TTF/Romeosevka-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedMedium.woff2') format('woff2'), url('TTF/Romeosevka-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-MediumItalic.woff2') format('woff2'), url('TTF/Romeosevka-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedMediumItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-SemiBold.woff2') format('woff2'), url('TTF/Romeosevka-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedSemiBold.woff2') format('woff2'), url('TTF/Romeosevka-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-SemiBoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Bold.woff2') format('woff2'), url('TTF/Romeosevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedBold.woff2') format('woff2'), url('TTF/Romeosevka-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-BoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedBoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-ExtraBold.woff2') format('woff2'), url('TTF/Romeosevka-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedExtraBold.woff2') format('woff2'), url('TTF/Romeosevka-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-ExtraBoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Romeosevka-Heavy.woff2') format('woff2'), url('TTF/Romeosevka-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/Romeosevka-CondensedHeavy.woff2') format('woff2'), url('TTF/Romeosevka-CondensedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Romeosevka-HeavyItalic.woff2') format('woff2'), url('TTF/Romeosevka-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Romeosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/Romeosevka-CondensedHeavyItalic.woff2') format('woff2'), url('TTF/Romeosevka-CondensedHeavyItalic.ttf') format('truetype');
}
